<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backbone</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div id="filter"><label for="">Show:</label></div>
    </header>
    <div id="books"></div>

    <script id="bookTemplate" type="text/template">
        <img src="<%= img %>" alt="<% title %>" />
        <h1><%= title %></h1>
        <div class="tags"><%= tags %></div>
        <div><%= author %></div>
        <div><%= url %></div>
    </script>

    <script src="/js/vendor/jquery-2.0.3.min.js"></script>
    <script src="/js/vendor/underscore-min.js"></script>
    <script src="/js/vendor/backbone-min.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>
